<%= javascript_include_tag "complaints.js" %>
<%=  render 'second_menu'%>
<div class="data_menu">
  <% if permission?(:datas, :add_target) %>
    <a href="javascript:void(0)" onclick="show_center('.goal_mark');">定制目标销售额</a>
  <% end %>
</div>
<div class="clear"></div>
<div class="tab_head">
  <ul>
    <li class="hover">当前制定目标销售额</li>
    <li>过往记录</li>
  </ul>
</div>
<div class="data_body">
  <div id="on_time">数据加载中。。。</div>
  <div style="display:none;" id="over_time">数据加载中。。。</div>
  <script type="text/javascript">
    request_ajax("/stores/<%= params[:store_id] %>/market_manages/load_goal");
    setTimeout(function(){
      request_ajax("/stores/<%= params[:store_id] %>/market_manages/load_over");
    },2000)
  </script>
</div>
<div class="mask"></div>
<div class="tab_popup goal_mark" style="display: none;">
  <div class="popup_box">
    <h1>定制目标销售额<a href="javascript:void(0)" class="close" onclick="return_value()">关闭</a></h1>
    <div class="popup_body">
      <div class="popup_body_area">
        <%= form_for :goal,:url=>"/stores/#{params[:store_id]}/market_manages/",:html=>{:id=>"create_goal"},:method=>:POST do%>
          <div class="item">
            <label>开始时间：</label><input name="created" type="text" id="created" onclick="WdatePicker()"  class="Wdate" readonly />
          </div>
          <div class="item">
            <label>结束时间：</label><input name="ended" type="text" id="ended" onclick="WdatePicker()"  class="Wdate" readonly/>
          </div>
          <div class="clear"></div>
          <h2>
            金额（元）
          </h2>
          <div class="item" id="item_0">
            <label>服务类</label>：<input name="goal[<%= GoalSale::TYPES[:SERVICE] %>]" type="text" />
          </div>
          <div class="item" id="item_1">
            <label>产品类</label>：<input name="goal[<%= GoalSale::TYPES[:PRODUCT] %>]" type="text" />
          </div>
          <div class="item" id="item_2">
            <label>卡类</label>：<input name="goal[<%= GoalSale::TYPES[:CARD] %>]" type="text"  />
          </div>
          <div class="item" id="item_3">
            <label>其他</label>：<input name="goal[<%= GoalSale::TYPES[:OTHER] %>]" type="text" />
          </div>
          <div class="item">
            <a href="javascript:void(0)" class="item_addItem" onclick="add_div()">+</a>
          </div>
        <% end %>
      </div>
      <div class="btn_box_s"><button class="confirm_btn" onclick="check_goal(this)">确定</button></div>
    </div>
  </div>
</div>
