<div class="popup_body_area">
  <div class="seeProDiv">
    <div class="seeProDiv_l">投诉时间：</div>
    <div class="seeProDiv_r"><%= @complaint.created_at.nil?  ? "---" : @complaint.created_at.strftime("%Y-%m-%d %H:%M:%S") %></div>
  </div>
  <div class="seeProDiv">
    <div class="seeProDiv_l">投诉理由：</div>
    <div class="seeProDiv_r"><%= @complaint.try(:reason) %></div>
  </div>
  <div class="seeProDiv">
    <div class="seeProDiv_l">投诉要求：</div>
    <div class="seeProDiv_r"><%= @complaint.try(:suggestion) %></div>
  </div>
  <div class="seeProDiv">
    <div class="seeProDiv_l">责任人：</div>
    <div class="seeProDiv_r"><%=  @staff_name == "" ? "--" : @staff_name %></div>
  </div>
  <div class="seeProDiv">
    <div class="seeProDiv_l">相关订单：</div>
    <div class="seeProDiv_r"><%= link_to "#{@complaint.order.code}", "/orders/#{@complaint.order.id}/order_info" ,
            :remote => "true", "data-type" => "script", :class => "other_a", :style => "text-decoration: underline" %>
</div>
  </div>
  <div class="seeProDiv">
    <div class="seeProDiv_l">处理结果：</div>
    <div class="seeProDiv_r"><%= @complaint.remark %></div>
  </div>

  <% if !@violation_rewards.blank? %>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table" id="reward_table">
    <thead>
      <tr class="hbg">
        <th>时间</th>
        <th>责任人</th>
        <th>原因</th>
        <th>处理状态</th>
        <th>理由</th>
      </tr>
    </thead>
    <tbody>
      <% @violation_rewards.each do |vr| %>
        <tr>
          <td><%= vr.created_at.strftime("%Y.%m.%d") %></td>
          <td><%= vr.name %></td>
          <td><%= vr.situation %></td>
          <td>
            <% unless vr.status %>
              <% if permission?(:staffs, :deal_violation) %><%= link_to "处理", "javascript:void(0)", :class => "process_violation", :id => vr.id, :name => @store.id %><% end %>
            <% else %>
            <span style="padding:0 5px">已处理</span>
            <% end %>
          </td>
          <td><%= vr.mark %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  客户反馈意见：<%= @complaint.status==false ? "不满意" : "满意" %>
  <% else %>
  投诉未处理
  <% end %>
</div>

