<div class="popup_box">
  <h1>添加项目<a href="javascript:void(0)" class="close">关闭</a></h1>
  <div class="popup_body">
    <div class="popup_body_area">
      <div class="search">
        <div>
          <label>类别：</label>
          <select>
            <option value="0">全部</option>
            <% @types.each do |t| %>
              <option value="<%= t.id %>"><%= t.name %></option>
            <% end %>
          </select>
        </div>
        <div><label>名称：</label><input type="text"/></div>
        <div><input type="button" class="search_btn" value="查询" onclick="edit_add_products_search(<%= @store.id %>, this)"/></div>
      </div>
      <fieldset class="popup_body_fieldset">
        <legend class="popup_body_title">查询结果 | <input type="checkbox"  onclick="select_all(this)" id="select_all_edit" disabled>全选</input></legend>
        <div class="popup_body_result"><ul></ul></div>
      </fieldset>
      <div class="pq"></div>
      <fieldset class="popup_body_fieldset">
        <legend class="popup_body_title"><span class="red">*</span>已选择</legend>
        <div class="popup_body_result" id="edit_selected_products_div">
          <% @products.each do |p| %>
            <div id="edit_product_<%= p.pid %>_div" name="edit_p_div">
              <em><%= p.pname %></em>
              <span>
                <input type="text" name="edit_p_text" value="<%= p.discount %>"class="addre_input"/>
              </span>
              <a href="javascript:void(0)" class="remove_a" onclick="edit_cancel_product(<%= p.pid %>)">删除</a>
              <input type="hidden" name="edit_p_hidden" id="edit_hidden_<%= p.pid %>" value="<%= p.pid %>"/>
            </div>
          <% end %>
        </div>
      </fieldset>
    </div>
    <div class="clear"></div>
    <div class="btn_box">
      <button type="button" class="confirm_btn" onclick="edit_selected_product_submit()">确定</button>
    </div>
  </div>
</div>