<script type="text/javascript" src="/assets/discount_cards.js" ></script>
<div class="main">
  <div class="box">
    <div class="data_box">
      <div class="second_menu">
        <a href="/stores/<%= @store.id %>/package_cards">套餐卡</a>
        <a href="/stores/<%= @store.id %>/save_cards" >储值卡</a>
        <a href="/stores/<%= @store.id %>/discount_cards"   class="hover">打折卡</a>
      </div>
      <div class="data_menu">
        <a href="JavaScript:void(0)" class="add_btn" onclick="new_discount_card()">新建打折卡</a>
        <a href="JavaScript:void(0)" class="add_btn" onclick="del_all_dcards(<%=  @store.id %>)">删除打折卡</a>
      </div>
      <div class="clear"></div>
      <div class="data_body">
        <div>
          <div class="table_box_h">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
              <thead>
                <tr class="hbg">
                  <td><input type="checkbox" onclick="get_del_dcards(this)"/></td>
                  <td width="15%">&nbsp;</td>
                  <td width="25%">名称</td>
                  <td width="10%">面值</td>
                  <td width="20%">内容</td>
                  <td width="10%">使用范围</td>
                  <td width="12%">操作</td>
                </tr>
              </thead>
              <tbody>
                <% unless @sv_cards.blank? %>
                  <% sc = @sv_cards[0] %>
                  <tr>
                    <td><input type="checkbox" name="del_dcards" value="<%= sc.id %>"/></td>
                    <td class="data_table_img"><img src="<%= sc.img_url.nil? ? "" : sc.img_url.gsub("img#{sc.id}", "img#{sc.id}_#{Constant::SVCARD_PICSIZE[0]}") %>" /></td>
                    <td><%= sc.name %></td>
                    <td><%= format("%.1f", sc.price) if sc.price %></td>
                    <td><%= truncate(sc.description, :length => 15) %></td>
                    <td><%= SvCard::S_USE_RANGE[sc.use_range] %></td>
                    <td class="operation">
                      <a href="JavaScript:void(0)" onclick="edit_discount_card(<%= sc.id %>, <%= @store.id %>)">编辑</a>
                      <a href="javascript:void(0)"
                         onclick="on_weixin('SvCard','<%=  sc.id %>',this)" title="<%= sc.on_weixin ?  '不' : '' %>在微信上推荐该套餐卡"><%= sc.on_weixin ?  '不' : '' %>推荐
                      </a>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="table_box">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
              <thead>
                <tr class="hbg">
                  <td><input type="checkbox" onclick="get_del_dcards(this)"/></td>
                  <td width="15%">&nbsp;</td>
                  <td width="25%">名称</td>
                  <td width="10%">面值</td>
                  <td width="20%">内容</td>
                  <td width="10%">使用范围</td>
                  <td width="12%">操作</td>
                </tr>
              </thead>
              <tbody>
                <% unless @sv_cards.blank? %>
                  <% @sv_cards.each do |sc| %>
                    <tr>
                      <td><input type="checkbox" name="del_dcards" value="<%= sc.id %>"/></td>
                      <td class="data_table_img"><img src="<%= sc.img_url.nil? ? "" : sc.img_url.gsub("img#{sc.id}", "img#{sc.id}_#{Constant::SVCARD_PICSIZE[0]}") %>" /></td>
                      <td width="25%"><%= sc.name %></td>
                      <td><%= format("%.1f", sc.price) if sc.price %></td>
                      <td width="15%"><%= truncate(sc.description, :length => 15) %></td>
                      <td><%= SvCard::S_USE_RANGE[sc.use_range] %></td>
                      <td class="operation">
                        <a href="JavaScript:void(0)" onclick="edit_discount_card(<%= sc.id %>, <%= @store.id %>)">编辑</a>
                        <a href="javascript:void(0)"
                           onclick="on_weixin('SvCard','<%=  sc.id %>',this)" title="<%= sc.on_weixin ?  '不' : '' %>在微信上推荐该套餐卡"><%= sc.on_weixin ?  '不' : '' %>推荐
                        </a>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
            <%= will_paginate  @sv_cards, :class => "pageTurn", :previous_label => "上一页",
              :next_label=> "下一页"  unless @sv_cards.blank? %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="discount_card_div" class="tab_popup" style="display: none;" > <!--打折卡弹出层-->
    <%= render "new" %>
  </div>
  <div id="add_products" class="tab_popup" style="display:none;">   <!--添加项目弹出层-->
    <%= render "add_products" %>
  </div>
  <div id="edit_discount_card_div" class="tab_popup" style="display: none;"></div> <!--编辑打折卡弹出层-->
  <div id="edit_add_products" class="tab_popup" style="display:none;">   <!--编辑..添加项目弹出层-->
  </div>
</div>
<div class="foot"><p>Copyright © 2013 杭州鼎洪 版权所有</p></div>