<div class="box">
  <div id="revist_warn">
  <%= render :partial => "revist_warn" %>
  </div>
  <div class="data_box">
    <div class="search">
      <% if permission?(:customers, :revisit_search) %>
        <%= form_for :customer ,:url=>"/stores/#{@store.id}/revisits/search", :method => "post" do %>
          <div><label>消费时间：</label>
            <input type="text" name="started_at" id="started_at"
                   value="<%= session[:started_at] ? session[:started_at] : (Time.now - 15.days).to_date  %>"
                   class="Wdate" readonly onClick="WdatePicker();"/>&nbsp;到&nbsp;
            <input type="text" name="ended_at" id="ended_at"
                   value="<%= session[:ended_at] ? session[:ended_at] : Time.now.to_date %>"
                   class="Wdate" readonly onClick="WdatePicker();"/></div>
          <div><label>会员：</label>
            <select id="is_vip" name="is_vip" class="select_marginRight">
              <option value="-1" <% if session[:is_vip].nil? or session[:is_vip] == "-1" %>selected<% end %>>全部</option>
              <option value="<%= Customer::IS_VIP[:VIP] %>" <% if session[:is_vip] == "1" %>selected<% end %>>是</option>
              <option value="<%= Customer::IS_VIP[:NORMAL] %>" <% if session[:is_vip] == "0" %>selected<% end %>>否</option>
            </select>
            <select id="is_visited" name="is_visited">
              <option value="-1" <% if session[:is_visited].nil? or session[:is_visited] == "-1" %>selected<% end %>>全部</option>
              <option value="<%= Order::IS_VISITED[:YES] %>" <% if session[:is_visited] == "1" %>selected<% end %>>已回访</option>
              <option value="<%= Order::IS_VISITED[:NO] %>" <% if session[:is_visited] == "0" %>selected<% end %>>未回访</option>
            </select>
          </div>
          <div>
            <input type="checkbox" name="is_time" id="is_time" value="1" <% unless session[:is_time].nil? %>checked<% end %>/>
            &nbsp;消费满&nbsp;
            <input type="text" name="time" id="time" class="input_s" value="<%= session[:time] ? session[:time] : 3 %>"/>&nbsp;次</div>
          <div>
            <input type="checkbox" name="is_price" id="is_price" value="1" <% unless session[:is_price].nil? %>checked<% end %>/>
            &nbsp;消费满&nbsp;
            <input type="text" name="price" id="price" class="input_s" value="<%= session[:price] ? session[:price] : 500 %>"/>&nbsp;元</div>
          <div>
            <input type="hidden" name="store_id" id="store_id" value="<%= @store.id %>" />
            <button type="submit" class="search_btn">查询</button>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="clear"></div>
    <div class="data_body">
      <div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
          <thead>
            <tr class="hbg">
              <td>车牌号码</td>
              <td>客户姓名</td>
              <td>手机号码</td>
              <td>订单信息</td>
              <td>操作</td>
            </tr>
          </thead>
          <tbody>
            <% @customers.each do |customer| %>
              <tr>
                <td width="20%" class="wordBreak"><%= customer.num %></td>
                <td width="20%" class="wordBreak"><%= customer.name %></td>
                <td width="20%" class="wordBreak"><%= customer.mobilephone %></td>
                <td width="20%" class="wordBreak">
                  <%= link_to "#{customer.code}", "/orders/#{customer.o_id}/order_info" ,
                    :remote => "true", "data-type" => "script", :class => "other_a" %>
                </td>
                <td width="20%" class="wordBreak">
                  <% if permission?(:customers, :show) %>
                    <a href="javascript:void(0)"
                       onclick="javascript:customer_revisit(<%= customer.o_id %>, <%= customer.cu_id %>)">回访</a>
                     <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @customers , :previous_label=>" 上一页", :next_label=>" 下一页",
          :class=>"pageTurn" unless @customers.blank?  %>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "/customers/customer_revisit" %>
<div id="related_order_div"></div>