<%= javascript_include_tag "check_materials"%>
<div class="main">
  <div class="box">
    <div class="data_box">
      <div class="tab_head">
        <ul>
          <li  onclick="window.location.href='/stores/<%=params[:store_id]%>/check_materials'">库存盘点</li>
          <li onclick="window.location.href='/stores/<%=params[:store_id]%>/check_materials/check_record'">盘点记录</li>
          <li class="hover">记录文件</li>
        </ul>
      </div>
      <div class="data_body">
        <div class="groupFunc_area">
          <div class="groupFunc_b">
            <div class="organization">
              <% @check_nums.each do |check_num| %>
                <dl style="width:180px;">
                  <dt style="width:120px;">
                    <a href="javascript:void(0)" onclick="window.location.href='<%=check_num.file_name%>'" title="狠戳下载" ><%= check_num.file_name.split("/")[-1].split(".")[0] %></a>
                  </dt>
                  <dd>核实时间：<%= check_num.created_at.strftime("%Y-%m-%d %H:%M") %></dd>
                </dl>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>