<div class="tab_popup" style="display:none;" id="edit_cus_div">
  <%= form_for :customer, :url=>"/stores/#{@store.id}/customers/#{@customer.id}", :method => "put",
    :html => {:onsubmit => "return edit_check_customer()", :id => "edit_c_form", :name => "edit_c_form"} do %>
    <div class="popup_box">
      <h1>编辑用户信息<a href="javascript:void(0)" class="close">关闭</a></h1>
      <div class="popup_body">
        <div class="popup_body_area">
          <div class="item">
            <label>客户属性：</label>
            <input type="radio" name="edit_property" value="<%= Customer::PROPERTY[:PERSONAL] %>" <% if @customer.property.to_i==Customer::PROPERTY[:PERSONAL] %>checked<% end %> onclick="edit_select_property(this)"/>&nbsp;个人客户&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="edit_property" value="<%= Customer::PROPERTY[:GROUP] %>" <% if @customer.property.to_i==Customer::PROPERTY[:GROUP] %>checked<% end %> onclick="edit_select_property(this)"/>&nbsp;单位客户
          </div>
          <div class="clear"></div>
          <div class="item">
            <label><font color="red">*</font>姓名：</label><input type="text" id="new_name" name="new_name" value="<%= @customer.name %>"/>
          </div>
          <div class="item">
            <label><% if @customer.property==Customer::PROPERTY[:GROUP] %><font class="red">*</font><%  end %>单位名称：</label>
            <input name="edit_group_name" id="edit_group_name" type="text" value="<%= @customer.group_name %>" <% if @customer.property==Customer::PROPERTY[:PERSONAL] %>disabled<% end %>/>
          </div>
          <div class="item">
            <label>允许挂账：</label>
            <input name="edit_allowed_debts" type="radio" value="<%= Customer::ALLOWED_DEBTS[:YES] %>" <% if @customer.allowed_debts==Customer::ALLOWED_DEBTS[:YES] %>checked<% end %> onclick="edit_a_debts(this)"/>&nbsp;是&nbsp;&nbsp;&nbsp;&nbsp;
            <input name="edit_allowed_debts" type="radio" value="<%= Customer::ALLOWED_DEBTS[:NO] %>" <% if @customer.allowed_debts==Customer::ALLOWED_DEBTS[:NO] %>checked<% end %> onclick="edit_a_debts(this)"/>&nbsp;否
          </div>
          <div class="item">
            <label><% if @customer.allowed_debts==Customer::ALLOWED_DEBTS[:YES] %><font class="red">*</font><% end %>挂账额度：</label>
            <input name="edit_debts_money" id="edit_debts_money" type="text" value="<%= @customer.debts_money  %>" <% if @customer.allowed_debts==Customer::ALLOWED_DEBTS[:NO] %>disabled<% end %>/>
          </div>
          <div class="item">
            <label>结账周期：</label>
            <input name="edit_check_type" type="radio" value="<%= Customer::CHECK_TYPE[:MONTH] %>" <% if @customer.check_type.to_i==Customer::CHECK_TYPE[:MONTH] %>checked<% end %>
                   <% if @customer.allowed_debts==Customer::ALLOWED_DEBTS[:NO] %>disabled<% end %> onclick="edit_select_check_type(this)"/>
            <select name="edit_check_time_month" id="edit_check_time_month" class="select_ss"
                    <% if @customer.allowed_debts==Customer::ALLOWED_DEBTS[:NO] || @customer.check_type.to_i!=Customer::CHECK_TYPE[:MONTH] %>disabled<% end %>>
                      <% (1..24).to_a.each do |a| %>
                <option value="<%= a %>" <% if @customer.check_type.to_i==Customer::CHECK_TYPE[:MONTH] && @customer.check_time.to_i==a %>selected<% end %>><%= a %>月</option>
              <% end %>
            </select>
            <input name="edit_check_type" type="radio" value="<%= Customer::CHECK_TYPE[:WEEK] %>" <% if @customer.check_type.to_i==Customer::CHECK_TYPE[:WEEK] %>checked<% end %>
                   <% if @customer.allowed_debts==Customer::ALLOWED_DEBTS[:NO]%>disabled<% end %> onclick="edit_select_check_type(this)"/>
            <select name="edit_check_time_week" id="edit_check_time_week" class="select_ss"
                    <% if @customer.allowed_debts==Customer::ALLOWED_DEBTS[:NO]  || @customer.check_type.to_i!=Customer::CHECK_TYPE[:WEEK] %>disabled<% end %>>
                      <% (1..99).to_a.each do |a| %>
                <option value="<%= a %>"  <% if @customer.check_type.to_i==Customer::CHECK_TYPE[:WEEK] && @customer.check_time.to_i==a %>selected<% end %>><%= a %>周</option>
              <% end %>
            </select>
          </div>
          <div class="item">
            <label>性别：</label>&nbsp;
            <input type="radio" name="sex" value="1" <% if @customer.sex %>checked<% end %> />&nbsp;男&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="sex" value="0" <% unless @customer.sex %>checked<% end %>/>&nbsp;女
          </div>
          <div class="item">
            <label><font color="red">*</font>手机号码：</label><input type="text" id="mobilephone" name="mobilephone" value="<%= @customer.mobilephone %>"/>
          </div>
          <div class="item">
            <label>其他联系方式：</label><input type="text" id="other_way" name="other_way" value="<%= @customer.other_way %>"/>
          </div>
          <div class="item">
            <label>生日：</label>
            <input type="text" id="birthday" name="birthday" readonly onClick="WdatePicker();"
                   class="Wdate" value="<%= @customer.birthday.strftime("%Y-%m-%d") if @customer.birthday %>" />
          </div>
          <div class="item">
            <label>客户类型:</label>&nbsp;
            <input type="radio" name="is_vip" value="<%= Customer::IS_VIP[:NORMAL] %>" <% unless @customer.is_vip %>checked<% end %>/>&nbsp;普通客户
            <input type="radio" name="is_vip" value="<%= Customer::IS_VIP[:VIP] %>" <% if @customer.is_vip %>checked<% end %>/>&nbsp;会员客户&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="item">
            <label>VIP：</label>&nbsp;
            <input type="checkbox" name="show_vip" value="<%= @customer.show_vip ? 1 : 0   %>" <%if @customer.show_vip%>checked<%end%> onclick="$(this).val(this.checked ? 1 : 0)"/>&nbsp;VIP
          </div>
          <div class="item_textarea">
            <label>地址：</label><textarea name="address" id="address" cols="" rows="" class="width_textarea"><%= @customer.address %></textarea>
          </div>
        </div>
        <div class="btn_box"><button type="submit" class="confirm_btn">确定</button></div>
      </div>
    </div>
  <% end %>
</div>