<div class="box">
  <%= render :partial => "/customers/show_tips" %>
  <div class="data_box">
    <% if permission?(controller.controller_name.to_sym, :show) %>
      <div class="search">
        <div><label>客户名称：</label><input type="text" name="name" id="name"/></div>
        <div><label>车牌号码：</label><input type="text" name="car_num" id="car_num" /></div>
        <div><label>手机号码：</label><input type="text" name="phone" id="phone"/></div>
        <div><label>消费时间：</label>
          <input type="text" name="started_at" id="started_at"class="Wdate" readonly onClick="WdatePicker();"/>
          &nbsp;到&nbsp;
          <input type="text" name="ended_at" id="ended_at" class="Wdate" readonly onClick="WdatePicker();"/></div>
        <div><button type="submit" class="search_btn" onclick="search_customer(<%= @store.id %>)">查询</button>
          <%= image_tag "ajax-loader.gif", :id => "submit_spinner", :style => "display:none;" %>
        </div>
      </div>
    <% end %>

    <div class="data_body_title myd">
      <h2 class="data_body_h">
        上月门店满意度 ：<a href="/stores/<%= @store.id %>/complaints" style="color: #3cd439"><%= "#{satisfy[0]}%" %></a>&nbsp;&nbsp;&nbsp;
        上月门店不满意度 ：<a href="/stores/<%= @store.id %>/complaints" style="color: #f42f3c"><%= "#{satisfy[1]}%" %></a>
      </h2>
      <p class="data_body_p" style="float: right;">客户数量：<span class="red"><%= @customers.length %></span>位</p>
    </div>
    <div id="customer_index">
      <%= render :partial=>"customer_index" %>
    </div>
  </div>
</div>
<%= render :partial => "new_customers" %>
<%= render :partial => "customer_mark" %>
<%= render :partial => "single_send_message" %>
<div id="related_order_div"></div>
<div class="tab_popup" id="complaint_detail_tab">
  <div class="popup_box">
    <h1>详情<a href="javascript:void(0)" class="close">关闭</a></h1>
    <div class="popup_body">

    </div>
  </div>
</div>
<div id="process"></div>

