<div class="popup_box">
  <h1>编辑工位<a href="javascript:void(0)" class="close">关闭</a></h1>
  <div class="popup_body">
    <%= form_tag "/stores/#{@store.id}/station_datas/#{@station.id}", :method => :put, :remote => true, "data-type" => 'script', :class=>"station_form" do %>
      <div class="popup_body_area">
        <div class="item station_name">
          <label><span class="red">*</span>名称：</label>
          <input type="text" size="30" id="edit_station_name" name="edit_station_name" value="<%= @station.name %>"/>
        </div>
        <div class="item">
          <label><span class="red">*</span>编号：</label>
          <input type="text" size="30" id="edit_station_code" name="edit_station_code" value="<%= @station.code %>"/>
        </div>
        <div class="item">
          <label><span class="red">*</span>状态：</label>
          <select name="edit_status">
            <%Station::STAT_NAME.each do |k,v|%>
              <option value="<%= k %>" <%if k == @station.status %>selected<%end%>><%= v %></option>
            <%end%>
          </select>
        </div>
        <div class="item_textarea" style="width:605px;">
          <label><span class='red'>*</span>服务：</label>
          <div class="item_rbox">
            <% @services.each do |k,v| %>
              <div class="serv_ul">
                <h1 style="padding-left:5px;"><input type="checkbox" onclick="$(this).parent().parent().find('#<%=k%> input').attr('checked',this.checked);" /><%=@categories[k] %></h1>
                <%v.each do |p|%>
                  <span id="<%=k%>"><input type="checkbox" name="edit_product_ids[]" value="<%= p.id %>"
                                           <% if @has_services.include?(p.id) %>checked<% end %> /><%= p.name %></span>&nbsp;&nbsp;
                  <%end%>
              </div>
            <% end unless @services.blank? %>

          </div>
        </div>
      </div>
      <div class="btn_box">
        <button type="button" class="confirm_btn" onclick="edit_station_valid(this)">确定</button>
      </div>
    <% end %>
  </div>
</div>