<div class="popup_box">
    <h1>编辑<%= @category.types == Category::TYPES[:good] ? "产品" : "服务" %><a href="javascript:void(0);" class="close">关闭</a></h1>
    <div class="popup_body">
      <div class="popup_body_area">
        <div class="brand"><span class="red">*</span><%= @category.types == Category::TYPES[:good] ? "产品" : "服务" %>名称：
          <input type="text" id="market_edit_name" style="width:200px;" value="<%= @category.name %>"/>
        </div>
      </div>
      <div class="btn_box"><button class="confirm_btn" onclick="edit_market_commit(<%= @category.id %>, <%= @category.store_id %>)">确定</button></div>
    </div>
  </div>