<div class="popup_box"  id="pop_box">
  <h1><%=Account::TYPES_NAMES[params[:rend].to_i]%>款<a href="javascript:void(0)" class="close">关闭</a></h1>
  <div class="popup_body">
    <div class="popup_body_area">
      <div class="due_pay_money">
        <span style="padding-left: 20px;"><%=Account::TYPES_NAMES[params[:rend].to_i]%>：<span id="due_account"><%=@pay_orders.map(&:p_price).compact.inject(0){|n,p|n+p}.round(2)%></span></span>
        <span style="float: right;padding-right: 20px;">余额：<span id="left_account"><%=@account.nil? ? 0 :@account.balance %></span></span></div>
      <div class="due_pay_money">
        <span style="padding-left: 20px;">付款类型：<select  id="payment_id" style="height:30px">
            <% @defines.each do |k,v| %>
              <option value="<%= k %>"><%= v %></option>
            <% end %>
          </select></span>
        <span style="float: right;padding-right: 20px;">创建人：<select  id="staff_id" style="height:30px">
            <% @staffs.each do |k,v| %>
              <option value="<%= k %>" <% if k == cookies[:user_id] %>selected<%end%>><%= v %></option>
            <% end %>
          </select></span>
      </div>
      <div class="due_pay_money"><span style="padding-left: 20px;">充值：<input type="text" id="in_account" value="0" style="height:30px;font-size: 25px;width:100px;" />元</span>
        <span style="float: right;padding-right: 10px;">
          <button  class="confirm_btn" style="height:33px;width:80px;font-size: 20px;" onclick="complete_account(<%=params[:store_id]%>,<%=@customer.id%>,<%=params[:rend]%>)">确 定</button></span></div>
      <div class="accountsTab_client">
        <div class="at_client_con">
          <ul>
            <% if params[:rend].to_i== Account::TYPES[:CUSTOMER] %>
              <li><span>客户姓名：</span><%=  @customer.name%></li>
              <li><span>手机号码：</span><%=@customer.mobilephone%></li>
              <li>
                <%if @customer.group_name %>
                  <span>单位：</span><%=@customer.group_name%>
                <%else%>
                  <span>客户属性：</span>个人客户
                <%end%>
              </li>
            <%else%>
              <li><span>供应商：</span><%=  @customer.name%></li>
              <li><span>手机号码：</span><%=@customer.phone%></li>
            <%end%>
          </ul>
          <fieldset class="popup_body_fieldset">
            <legend class="popup_body_title"><span class="red">*</span>已选择</legend>
            <div class="popup_body_result" id="added_accounts">
              <ul>
                <%@pay_orders.each do |p_order|%>
                  <li id="li_<%=p_order.p_id%>"><%= " 单号：#{p_order.code} ￥<span style='color:red'>#{p_order.p_price}</span>".html_safe %></li>
                <%end%>
              </ul>
            </div>
          </fieldset>
          <fieldset class="popup_body_fieldset">
            <legend class="popup_body_title">应付订单</legend>
            <div class="popup_body_result" style="height:<%=@pay_orders.length*37%>px">
              <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_tab_table">
                <thead>
                  <tr class="hbg">
                    <td><input  type="checkbox" checked onclick="t_account(this)" /></td>
                    <td>单号</td>
                    <% if  params[:rend].to_i== Account::TYPES[:CUSTOMER]  %>
                      <td>消费日期</td>
                      <td>车牌</td>
                    <%else%>
                      <td>购货日期</td>
                      <td>预计到货日期</td>
                      <td>物流商</td>
                    <%end%>
                    <td>金额(元)</td>
                  </tr>
                </thead>
                <tbody id="t_account">
                  <%@pay_orders.each do |p_order|%>
                    <tr>
                      <td><input  type="checkbox" value="<%= p_order.p_id  %>" id="box_<%=p_order.p_id %>" checked onclick="box_check(this)" /></td>
                      <td><%= p_order.code %></td>
                      <td><%= p_order.time %></td>
                      <% if  params[:rend].to_i== Account::TYPES[:CUSTOMER]  %>
                        <td><%= p_order.num%></td>
                        <td><span style="color:red;"><%= p_order.p_price %></span></td>
                      <%else%>
                        <td><%= p_order.arrival ||= "--" %></td>
                        <td><%= p_order.carrier ||= "--" %></td>
                        <td><span style="color:red;" title="<%= p_order.remark %>"><%= p_order.p_price %></span></td>
                      <%end%>

                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
