<div style="display: none;">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_tab_table">
    <thead>
      <tr class="hbg">
        <td>条形码</td>
        <td>物料名称</td>
        <td>物料类别</td>
        <td>库存状态</td>
        <td>库存量(个)</td>
      </tr>
    </thead>
    <tbody id="low_materials_tbody">
      <% low_materials.each do |lm| %>
        <tr id="material<%= lm.id %>tr">
          <td width="15%"><%= lm.code %></td>
          <td><%= lm.name %></td>
          <%   %>
          <td><%= if @types && lm.category_id
              a = @types.inject(Hash.new){|h,t|h[t.id]=t.name;h}
              a[lm.category_id.to_i].nil? ? "----" : a[lm.category_id.to_i]
            else
              "----"
            end
          %></td>
          <td>缺货</td>
          <td id="materialstorage<%= lm.id %>td"><%= lm.storage %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>