<!DOCTYPE html>
<html>
<head>
  <title>LantanBAM</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= render :partial => "/shared/tishi_alert" %>
</body>
</html>
