<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application","jquery.tablesorter.min" ,"kucun", "material_in_out","DD_belatedPNG_0.0.8a-min","jquery-ui-1.10.0.custom.min"%>
    <script type="text/javascript" src="/assets/My97DatePicker/WdatePicker.js" ></script>
    <title><%= @title.nil? ? "库存管理" : @title %></title>
    <%= csrf_meta_tags %>
    <!--[if IE 6]>
    <script>
        DD_belatedPNG.fix('*');
    </script>
    <![endif]-->

  </head>
  <body>
    <div class="head">
      <div class="box">
        <%= render :partial => "/common/login_header" %>
        <%= render :partial => "materials/material_nav" %>
      </div>
    </div>
    <div class="main">
      <div class="box">
          <%= yield %>
      </div>
    </div>
    <%= render :partial => "/common/footer" %>
    <%= render :partial => "/shared/tishi_alert" %>
  </body>
</html>
